<div class="container">
  <div class="card" *ngFor="let searchMatch of searchMatchs">
    <div class="card-header">id: {{ searchMatch.user_id }}</div>
    <div class="card-body">
      <p> fName: {{ searchMatch.user_firstName }}</p>
      <p> lName: {{ searchMatch.user_lastName }}</p>
      <div *ngIf="followedArr[searchMatch.user_id]; else elseBlock">
        <button class="btn btn-danger" (click)="unfollowUser(searchMatch.user_id)">unfollow</button>
        <button class="btn btn-danger" (click)="checkIfFollowed(searchMatch.user_id)">check</button>
      </div>
      <ng-template #elseBlock>
        <button class="btn btn-success" (click)="followUser(searchMatch.user_id)">Follow</button>
        <button class="btn btn-danger" (click)="checkIfFollowed(searchMatch.user_id)">check</button>
      </ng-template>
    </div>
  </div>
</div>
