<div class="container">
  <div class="card" *ngFor="let searchMatch of searchMatchs">
    <div class="card-header">id: {{ searchMatch.user_id }}</div>
    <div class="card-body">
      <p> fName: {{ searchMatch.user_firstName }}</p>
      <p> lName: {{ searchMatch.user_lastName }}</p>
      <div>
        <button class="btn btn-danger" (click)="unfollowUser(searchMatch.user_id)">unfollow</button>
        <button class="btn btn-success" (click)="followUser(searchMatch.user_id)">follow</button>
      </div>
    </div>
  </div>
</div>
