<!--<div class="container">-->
<!--  <div class="card" *ngFor="let searchMatch of searchMatchs">-->
<!--    <div class="card-header">id: {{ searchMatch.user_id }}</div>-->
<!--    <div class="card-body">-->
<!--      <p> fName: {{ searchMatch.user_firstName }}</p>-->
<!--      <p> lName: {{ searchMatch.user_lastName }}</p>-->
<!--&lt;!&ndash;      <img href="{{searchMatch.user_profileImgUrl}}">&ndash;&gt;-->
<!--      <div>-->
<!--        <button class="btn btn-info" (click)="goToProfile(searchMatch.user_id)">view Profile</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
