.profile-wrapper {
    height: 100%;
    .content-icon {
        position: absolute;
        top: 50%;
        left: -3%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #322e47;
        .icon {
            height: 100%;
            span {
                color:white;
                font-size: 30px;
                opacity: 0.7;
                transition-duration: 0.3s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .content-icon-hidden {
        left: -5%;
    }
    .user-profile-wrapper {
        padding: 20px;
        .user-image-wrapper {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 1vh;
            .user-image {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                //background-image: url('/assets/images/profile_photo.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border: 3px solid #d92c7d;
                cursor: pointer;
            }
        }
        .user-name-wrapper {
            .user-name {
                .name {
                    font-size: 1.3em;
                }
                .location {
                    color: #818086;
                    font-size: 0.8em;
                    span {
                        font-size: 20px;
                        margin-left: -4px;
                    }
                }
            }
        }
    }
    .user-followers-wrapper {
        margin-top: 3vh;
        //padding-left: 30px;
        padding-right: 30px;
        .user-followers-container {
            flex: 1;
            .user-followers-count {
                .count {
                    font-size: 1.7em;
                    line-height: 1em;
                }
                .count-txt {
                    font-size: 1.1em;
                }
            }
            .follow {
                width: 110px;
                height: 45px;
                border-radius: 25px;
                border: 0;
                color: white;
                background: linear-gradient(90deg, rgba(95,69,241,1) 0%, rgba(186,11,194,1) 100%);
            }
            .unfollow {
              width: 110px;
              height: 45px;
              border-radius: 25px;
              border: 0;
              color: white;
              background: linear-gradient(90deg, rgb(241, 95, 53) 0%, rgb(194, 29, 34) 100%);
            }
        }
    }
    .user-timeline-wrapper {
        margin-top: 5vh;
        background-color: white;
        height: 100%;
        border-radius: 30px 30px 30px 0px;
        margin-bottom: 10px;
        color: #0b0d0c;
        margin-right: 10px;
        padding: 20px;
        overflow-y: scroll;
        //direction: rtl;
    }
    /* width */
    .user-timeline-wrapper::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .user-timeline-wrapper::-webkit-scrollbar-track {
        background: transparent;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* Handle */
    .user-timeline-wrapper::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 10px;
    }

    /* Handle on hover */
    .user-timeline-wrapper::-webkit-scrollbar-thumb:hover {
        background: #3f4cfb;
    }
}
