<header class="header d-flex flex-column align-items-center">
    <div class="header-content w-100 d-flex flex-row">
        <i class="material-icons">
            view_headline
        </i>

        <div class="search-container d-flex flex-column">
            <div class="search-content d-flex flex-row">
                <i class="material-icons">
                    search
                </i>
                <input (change)="sendValue($event)" class="search" type="text" placeholder="ძებნა..." />
            </div>
        </div>
    </div>
</header>
