/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: NinoMtavruli;
    src: url('./assets/fonts/bpg-nino-mtavruli-bold-bl-edition.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: NinoMtavruli;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
