/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: NinoMtavruli;
    src: url('./assets/fonts/bpg-nino-mtavruli-bold-bl-edition.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: NinoMtavruli;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex {
    display: flex!important
}

.align-center {
    align-items: center;
}

.d-row {
    flex-direction: row;
}

.d-col {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

::ng-deep {
    .mat-simple-snackbar-action {
        color: #536dfe!important;
    }
    .mat-button-wrapper {
        color: #536dfe!important;
    }
}


