<mat-sidenav-container>
    <mat-sidenav mode="over" #refSidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="[ '/dashboard']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
            <a mat-list-item>test</a>
            <a mat-list-item>test</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-raised-button (click)="refSidenav.toggle()"><mat-icon color="accent">reorder</mat-icon></button>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

