<div class="post-popup-wrapper d-flex flex-column align-items-center">
    <div class="post-popup-header">
        პოსტის დამატება
    </div>
    <div class="post-popup-body">
        <textarea #postBody></textarea>
    </div>
    <div class="post-popup-submit">
        <div class="btn-primary add-post d-flex flex-column justify-content-center">
            <div (click)="onSubmit()" class="btn-primary-content d-flex flex-row justify-content-center align-items-center">პოსტის დამატება</div>
        </div>
    </div>
</div>