<div class="auth-main-container {{lang}}">
    <mat-progress-bar mode="indeterminate" *ngIf="loading" style="position: fixed;"></mat-progress-bar>
    <div class="left-arrow">
        <i class="material-icons">
            keyboard_arrow_left <span class="main-text"> {{'MAIN' | translate}} </span>
        </i>
    </div>
    <img class="wave" src="../../assets/images/Login-wave.png">
    <div class="mian-container">
        <div class="phone-container">
            <img class="phone" src="../../assets/images/Login-Phone.svg">
        </div>
        <div class="login-container">
            <div class="login-contnet" [formGroup]="userInfo">
                <img class="avatar" src="../../assets/images/Login-Avatar.svg">
                <h2>{{'AUTHORIZATION' | translate}}</h2>

                <div class="alert alert-danger" *ngIf="auth.error$  | async as error">
                  {{ error | translate}}
                </div>
                <div class="alert alert-info" *ngIf="message">
                  {{ message | translate}}
                </div>

                <mat-form-field style="width: 100%">
                    <span matPrefix>
                        <i class="material-icons"> account_circle </i>
                    </span>
                    <mat-label>{{'NAME' | translate}}</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="userInfo.controls.username.errors">
                       {{FormGroupErrorHandler('username') | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <span matPrefix>
                        <i class="material-icons"> no_encryption </i>
                    </span>
                    <mat-label>{{'PASSWORD' | translate}}</mat-label>
                    <input (keyup.enter)="userInfo.valid? onSubmit(): ''" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userInfo.controls.password.errors">
                        {{FormGroupErrorHandler('password') | translate}}
                    </mat-error>
                </mat-form-field>
                <button [ngClass]="userInfo.valid? 'submit-btn' : 'submit-btn btn-disabled'" (click)="userInfo.valid? onSubmit() : ''"> {{'AUTHORIZATION' | translate}} </button>
              <h2>not registered? go to registration <a routerLink="/register">page</a></h2>
            </div>
        </div>
    </div>
</div>
