<div class="auth-main-container">
    <mat-progress-bar mode="indeterminate" *ngIf="loading" style="position: fixed;"></mat-progress-bar>
    <div class="left-arrow">
        <i class="material-icons">
            keyboard_arrow_left <span class="main-text"> მთავარი </span>
        </i>
    </div>
    <img class="wave" src="../../assets/images/Login-wave.png">
    <div class="mian-container">
        <div class="phone-container">
            <img class="phone" src="../../assets/images/Login-Phone.svg">
        </div>
        <div class="login-container">
            <div class="login-contnet" [formGroup]="userInfo">
                <img class="avatar" src="../../assets/images/Login-Avatar.svg">
                <h2>ავტორიზაცია</h2>
                <mat-form-field style="width: 100%">
                    <span matPrefix>
                        <i class="material-icons"> account_circle </i>
                    </span>
                    <mat-label>სახელი</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="userInfo.controls.username.errors">
                       {{FormGroupErrorHandler('username')}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <span matPrefix>
                        <i class="material-icons"> no_encryption </i>                            
                    </span>
                    <mat-label>პაროლი</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userInfo.controls.password.errors">
                        {{FormGroupErrorHandler('password')}}
                    </mat-error>
                </mat-form-field>
                <button [ngClass]="userInfo.valid? 'submit-btn' : 'submit-btn btn-disabled'" (click)="userInfo.valid? onSubmit() : ''"> ავტორიზაცია </button>
            </div>
        </div>
    </div>
</div>