<div class="story-wrapper d-flex flex-row">
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-column justify-content-center align-items-center">
            <div class="story-item">    
                <div class="story-image-wrapper d-flex flex-row justify-content-center align-items-center"><div class="story-image"></div></div>
                <div class="story-name">სახელი</div>
            </div>
        </div>
    </div>
    <!-- <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-row justify-content-center align-items-center">
            <div class="story-item">    
                .
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-row justify-content-center align-items-center">
            <div class="story-item">    
                .
            </div>
        </div>
    </div>
    <div class="story-item-wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="story-item-content d-flex flex-row justify-content-center align-items-center">
            <div class="story-item">    
                .
            </div>
        </div>
    </div> -->
</div>