<div class="main">
    <div class="main-header" style="display: flex; justify-content: space-between" >
        <h5>პროფილი</h5>
        <button class="btn btn-info" mat-button (click)="cretePost()">Create post</button>
        <h5>.</h5>
    </div>
    <div class="main-container d-flex flex-row">
        <div class="left-side">
          <div class="main-info-container">
            <mat-card *ngFor="let user of userProfile">
              <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
              <mat-card-content>email: {{ user.email }}</mat-card-content>
              <mat-card-content>phone number: {{ user.phoneNumber }}</mat-card-content>
              <mat-card-content>status: {{ user.status }}</mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="posts.length; else noPosts" class="main-info-container">
            <div style="margin-top: 10px" class="card" *ngFor="let post of posts">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">{{ userProfile[0].firstName }} {{ userProfile[0].lastName }}</h5>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="moreActionsDropdown" data-toggle="dropdown">More actions</button>
                    <div class="dropdown-menu">
                      <button (click)="editPost(post.id)" class="dropdown-item">Change post</button>
                      <div class="dropdown-divider"></div>
                      <button (click)="removePost(post.id)" class="dropdown-item text-danger" >Delete</button>
                    </div>
                  </div>
                </div>
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text"><small class="text-muted">created Date {{ post.createDate | date:'short' }}</small></p>
              </div>
              <img class="card-img-bottom" src="http://via.placeholder.com/300" alt="Card image cap">
            </div>
          </div>
          <ng-template #noPosts>
            <p><strong>no Posts</strong></p>
          </ng-template>
          <div style="margin-top: 10px" class="card" *ngFor="let post of followerPost">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ post.userId }}</h5>
              </div>
              <p class="card-text">{{ post.content }}</p>
              <p class="card-text"><small class="text-muted">created Date {{ post.createDate | date:'short' }}</small></p>
            </div>
            <img class="card-img-bottom" src="http://via.placeholder.com/300" alt="Card image cap">
          </div>
        </div>
        <div class="right-side">

        </div>
    </div>
</div>
