<div class="container">

    <ng-container *ngIf="loading; else elseTemplate">
        <mat-spinner color="warn"></mat-spinner>
    </ng-container>
    <ng-template #elseTemplate>
        <mat-card>
            <mat-card-title style="text-align: center;">Admin Profile</mat-card-title>
            <mat-card-content>
                <mat-accordion>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Admin ID
                            </mat-panel-title>
                            <mat-panel-description>
                                ...
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>{{admin.id}}</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Admin Role
                            </mat-panel-title>
                            <mat-panel-description>
                                ...
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>{{admin.adminRole.role}}</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Admin RegisterDate
                            </mat-panel-title>
                            <mat-panel-description>
                                ...
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>{{admin.createDate}}</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Admin Email
                            </mat-panel-title>
                            <mat-panel-description>
                                ...
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>{{admin.email}}</p>
                    </mat-expansion-panel>


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Admin Update Date
                            </mat-panel-title>
                            <mat-panel-description>
                                ...
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>{{admin.updateDate}}</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Admin Status
                            </mat-panel-title>
                            <mat-panel-description>
                                ...
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>{{admin.status}}</p>
                    </mat-expansion-panel>

                </mat-accordion>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="accent" (click)="onDeleteAdmin()">DELETE</button>
                <button mat-raised-button color="primary" [routerLink]="[ '/admins']">OK</button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</div>