@import "../../../assets/styles/variables";

.sidenav-container {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 7%;
    max-width: 7%;
    height: 100vh;
    padding: 7vh 20px 30px 3vh;
    color: #504d60;
    background-color: #080321;
    .logo-wrapper {
        img {
            width: 50%;
            cursor: pointer;
            min-width: 40px;
            max-width: 50px;
        }
    }
    .menu-wrapper {
        margin-top: 6vh;
        .sidenav-icon {
            margin-top: 3vh;
            span {
                padding: 13px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1.6em;
                transition-duration: 0.3s;
            }
            .active {
                background-color: #322e47;
                color: #536DFE
            }
            span:hover:not(.active) {
                color: white;
            }
        }
    }
}


.item-container {
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 10px;
    transition-duration: 0.3s;
    border-radius: 10px;
}

.item-container:hover {
    background-color: #ecf4ff;
}

.container-content {
    span {
        
    }
    .item-body {
        margin-left: 5px;
        font-size: 15px;
        text-align: center;
    }
}