@import "../../../assets/styles/variables";

.sidenav-container {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    //border: 1px solid black;
    padding: 25px 10px 25px 10px;
    color: #5b667e;
    background-color: #fff;
    border-radius: 10px;
    -moz-box-shadow:    5px 1px 15px 0px $primary-light-color;
    -webkit-box-shadow: 5px 1px 15px 0px $primary-light-color;
    box-shadow:         5px 1px 15px 0px $primary-light-color;
}

.wrapper {
    flex: 1;
    height: 100%;
    .logo-container {
        width: 100%;
        padding: 0px 10px;
        color: $primary-color
    }
    .content {
        width: 100%;
        padding-top: 30px
    }
}

.item-container {
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 10px;
    transition-duration: 0.3s;
    border-radius: 10px;
}

.item-container:hover {
    background-color: #ecf4ff;
}

.container-content {
    span {
        
    }
    .item-body {
        margin-left: 5px;
        font-size: 15px;
        text-align: center;
    }
}