<div class="sidenav-container d-flex flex-row align-items-center">
    <div class="wrapper">
        <div class="logo-container">
            სახელი
        </div>
        <div class="content d-flex flex-column">
            <div class="item-container">
                <div class="container-content d-flex flex-row">
                    <span matPrefix class="d-flex flex-column">
                        <i class="material-icons"> account_circle </i>
                    </span>
                    <div class="item-body">
                        პროფილი
                    </div>
                </div>
            </div>
            <div class="item-container">
                <div class="container-content d-flex flex-row">
                    <span matPrefix class="d-flex flex-column">
                        <i class="material-icons"> settings </i>
                    </span>
                    <div class="item-body">
                        პარამეტრები
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>