<mat-sidenav-container>
    <mat-sidenav mode="over" #refSidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="[ '/dashboard']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
            <a mat-list-item [routerLink]="[ '/translations']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Translations</a>
            <a mat-list-item [routerLink]="[ '/admins']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: false}">Admins</a>
            <a mat-list-item [routerLink]="[ '/adminRoles']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Admin Roles</a>
            <a mat-list-item [routerLink]="[ '/chat']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Chat</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-raised-button (click)="refSidenav.toggle()"><mat-icon color="accent">reorder</mat-icon></button>
        <div class="container-fluid">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
