.post-wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 3vh;
    .post-content-container {
        border-radius: 20px;
        //border: 1px solid black;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        .post-header {
            .user-photo{
                width: 50px;
                height: 50px;
                background-image: url('/assets/images/profile_photo.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                cursor: pointer;
                //border: 2px solid black;
            }
            .user-info{
                cursor: pointer;
                margin-left: 2%;
                line-height: 1.3em;
                .user-name {
                    font-size: 1.25em;
                }
                .user-postDate {
                    font-size: 0.8em;
                    opacity: 0.7;
                }
            }
        }
        .post-body {
            margin-top: 0.5vh;
            .post-image {
                // width: 100%;
                // height: 14vw;
                // max-height: 300px;
                // background-image: url('/assets/images/post_photo.jpg');
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: cover;
                // border-radius: 2%;
                margin-top: 0.5vh;
                img {
                    width: 100%;
                    border-radius: 10px;
                    //max-height: 300px;
                }
            }
            .post-content {
                //margin-top: 0.5vh;
                margin-left: 2px;
                font-size: 1.3em;
            }
        }
        .reactions-wrapper {
            padding: 10px;
            padding-left: 1%;
            border-bottom: 1px solid #c4c5c7;
            span {
                cursor: pointer;
                -webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                user-select: none;  
                transition-duration: 0.2s;
                opacity: 0.8;
            }
            span:not(:first-child) {
                margin-left: 1.5%;
            }
            span:hover {
                opacity: 1;
            }
            .icon-clicked {
                color: #ed4956;
                opacity: 1;
            }
            .comments {
                margin-top: 2px;
            }
        }
        .write-comment-wrapper {
            .user-image {
                width: 35px;
                height: 35px;
                background-image: url('/assets/images/profile_photo.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
            }
            .comment-input {
                margin-left: 2%;
                width: calc(98% - 35px);
                height: 35px;
                background-color: #eaeaea;
                border-radius: 30px;
                input {
                    width: 95%;
                    background-color: transparent;
                    border: 0;
                    outline: none;
                }
            }
        }
        .reactions-count {
            margin-top: 0.5vh;
        }
    }
    .post-content-container:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}
